@model WeatherApp.Models.WeatherSearchViewModel
@inject WeatherApp.Services.UnixTimestampConversor UTConversor

<div class="weather_info">
    <div class="weather_info_header">
        <div style="align-self:center">WeatherApp</div>
        <form asp-action="Info" method="get" class="weather_info_search form-inline">
            <input asp-for="City" placeholder="City, Country" class="form-control" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="weather_info_body">
        <span asp-validation-for="City" class="error_message"></span>

        @if (Model != null && Model.Result != null)
        {
            var result = @Model.Result;

            <div class="current_weather">
                <div class="current_weather__left">
                    <div class="text-capitalize"><strong>@result.Location</strong></div>
                    <img src="http://openweathermap.org/img/w/@(result.IconCode).png" alt="Weather Icon" />
                    <div>@(result.TempCurrent)°C</div>
                    <div class="text-capitalize">@(result.Description)</div>
                </div>
                <div class="current_weather__right">
                    <table>
                        <tr>
                            <td>Min:</td>
                            <td>@(result.TempMin)°C</td>
                        </tr>
                        <tr>
                            <td>Max:</td>
                            <td>@(result.TempMax)°C</td>
                        </tr>
                        <tr>
                            <td>Pressure:</td>
                            <td>@(result.Pressure)mb</td>
                        </tr>
                        <tr>
                            <td>Humidity:</td>
                            <td>@(result.Humidity)%</td>
                        </tr>
                        <tr>
                            <td>Sunrise:</td>
                            <td>@UTConversor.GetDateTime(@result.Sunrise).ToString("HH:mm")</td>
                        </tr>
                        <tr>
                            <td>Sunset:</td>
                            <td>@UTConversor.GetDateTime(@result.Sunset).ToString("HH:mm")</td>
                        </tr>
                    </table>
                </div>
            </div>

        }
    </div>
 </div>
